header {
    font-family: Arial;
    background-color: red;
    color: white;   
}

h3{
    color:gold;
    font-family: 'Caveat', cursive;

}

#special1{
    font-family: 'Creepster', cursive;
    color:green;

}